.button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.button:hover {
    
    background-color: lightgreen ;
}

.cart {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* background-color: rgb(0, 0, 0);    */
}